In [1]:
import pandas as pd

In [2]:
summer_df = pd.read_csv('olympics/summer.csv')
winter_df = pd.read_csv('olympics/winter.csv')

In [4]:
summer_df = summer_df.append(winter_df)

C:\Users\asus\AppData\Local\Temp\ipykernel_29496\3036775704.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summer_df = summer_df.append(winter_df)

In [5]:
summer_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,HAJOS Alfred,HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,HERSCHMANN Otto,AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,DRIVAS Dimitrios,GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,MALOKINIS Ioannis,GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,CHASAPIS Spiridon,GRE,Men,100M Freestyle For Sailors,Silver

In [6]:
summer_df.sort_values(by='Year', inplace=True)

In [7]:
summer_df.shape

(36935, 9)

In [8]:
summer_df.tail()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
5362,2014,Sochi,Ice Hockey,Ice Hockey,"LACASSE, Genevieve",CAN,Women,Ice Hockey,Gold
5363,2014,Sochi,Ice Hockey,Ice Hockey,"LAROCQUE, Jocelyne",CAN,Women,Ice Hockey,Gold
5364,2014,Sochi,Ice Hockey,Ice Hockey,"MIKKELSON, Meaghan",CAN,Women,Ice Hockey,Gold
5357,2014,Sochi,Ice Hockey,Ice Hockey,"HEFFORD, Jayna",CAN,Women,Ice Hockey,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [14]:
summer_df.groupby('Country')['Medal'].value_counts().sort_values(ascending=False)

Country  Medal
USA      Gold      2402
         Silver    1571
         Bronze    1265
URS      Gold      1088
         Silver     724
                   ...
BRN      Bronze       1
UAE      Gold         1
IRQ      Bronze       1
CRC      Gold         1
ECU      Silver       1
Name: Medal, Length: 350, dtype: int64

In [19]:
medalTally = summer_df.groupby(['Country','Medal'])['Sport'].count().sort_values(ascending=False).reset_index()

In [20]:
# Pivot Table

In [23]:
medalTally.pivot_table(values='Sport',columns='Medal',index='Country').fillna(0).sort_values(by='Gold', ascending=False).head()

Medal    Bronze    Gold  Silver
Country
USA      1265.0  2402.0  1571.0
URS       677.0  1088.0   724.0
GER       572.0   589.0   504.0
GBR       587.0   580.0   632.0
ITA       481.0   534.0   473.0